.our-friends {
    background-color: #fafafa;
    padding: 70px 0;
    
    &__caption {
        text-align: center;
        max-width: 420px;
        margin: 0 auto 63px;

        @include b(885) {
            margin: 0 auto 40px;
        }
    }
    &__icons {
        display: flex;

        @include b(885) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        width: 50%;
        @include b(885) {
            width: 100%;
            
        }
    }

    &__img {
        display: flex;
        padding: 10px;
        transition: all .3s;
        border-radius: 20px;

        @include b(885) {
            padding: 0px 0px 0px 0px;
            margin-bottom: 5px;
        }
       

        :hover {
            background-color: #fff;
            box-shadow: 0 6px 12px 0 rgba(32, 33, 39, 0.08);
        }

        span {
            padding: 10px;
            font-size: 20px;
            font-family: 600;
            color: #15236e;
            width: 100%;

            @include b(410) {
                padding: 3px;
            }

            @include b(885) {
                padding: 6px;
            }
            

            a {
                color: #15236e;
                font-family: $second-font;
                position: relative;
                @include b(885) {
                  font-size: 15px;
                }
                
        @include b(410) {
            font-size: 12px;
        }

        @include b(350) {
            font-size: 10px;
        }
              
                
                &:before {
                    position: absolute;
                    content: '';
                    width: 0;
                    height: 2px;
                    background-color: #15236e;
                    left: 0;
                    bottom: -8px;
                    transition: all .3s;
                }
    
                &:hover:before {
                    width: 100%;
                }
    
                &:hover {
                    color: #15236e;
                }
            }
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    img {
        max-width: 160px;
        max-height: 160px;

        @include b(885) {
            max-width: 110px;
            max-height: 110px;
        }

        @include b(380) {
            
            max-width: 90px;
            max-height: 90px;
        }
        @include b(350) {
            max-width: 70px;
            max-height: 70px;
        }
        
    }

    p {
        font-size: 17px;
        padding: 10px 0px 0px 0px; 
        color: #858585;

        @include b(885) {
            font-size: 12px;
            padding: 3px 0px 0px 0px;
            
        }
        
        @include b(410) {
            font-size: 10px;
            padding: 3px 0px 0px 0px;
            
        }
        @include b(350) {
            font-size: 8px;
        }
    }
}